body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.navBar {
  display: flex;
  list-style: none;
  position: absolute;
  align-content: baseline;
  top: 30px;
  right: 50px;
}

.navBar li {
  margin: 10px;
}

.navBar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.815);
}

.navBar i {
  font-size: 25px;
  color: #04897b;
}

span {
  padding: 0;
  margin: 0;
}

.mobileBtn {
  display: none;
}

.logo {
  font-size: 90px;
  font-family: "Noto Sans";
  text-align: center;
  font-weight: 600;
  letter-spacing: -5px;
}

.logo span:nth-child(1) {
  color: #4285f4;
}

.logo span:nth-child(2) {
  color: #ea4336;
}

.logo span:nth-child(3) {
  color: #fbbc07;
}

.logo span:nth-child(4) {
  color: #4285f4;
}

.logo span:nth-child(5) {
  color: #34a853;
}

.logo span:nth-child(6) {
  color: #ea4336;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  position: relative;
}

.searchBar__input {
  width: 500px;
}

.searchBar__icons {
  position: absolute;
  right: 20px;
  padding: 0;
  margin: 0;
  color: gray;
}

.searchBar__icons i {
  margin: 5px;
}

.extraBtn {
  display: flex;
  margin-top: 30px;
  width: 270px;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .main {
    position: absolute;
    bottom: 400px;
  }

  .logo {
    font-size: 60px;
  }
  .searchBar__input {
    width: 300px;
  }

  .extraBtn {
    display: none;
  }

  .navBar span {
    display: none;
  }

  .mobileBtn {
    display: flex;
    list-style: none;
    position: absolute;
    align-content: baseline;
    top: 30px;
    left: 10px;
  }

  .mobileBtn li {
    margin: 10px;
  }

  .mobileBtn i {
    font-size: 25px;
    color: #5f6161;
  }

  .mobileBtn span {
    color: #5f6161;
  }
}
